.finall-images {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 15px;
  flex-wrap: wrap;
  height: 471px;
  overflow: auto;
  width: 763px;
}
.finall-images img {
  width: 170px;
  height: 180px;
  border-radius: 6px;
  object-fit: cover;
}
.finall-button {
  display: flex;
  gap: 10px;
  justify-content: end;
  border-top: 1px solid #ddd;
  padding: 10px 40px;
}
.finall-button .cancel {
  background-color: #ffffff !important;
  color: #010101 !important;
  cursor: pointer !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 5px 20px !important;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.finall-button .upload {
  background-color: #27ae60 !important;
  color: #ffffff !important;
  cursor: pointer !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 5px 50px !important;
  border-radius: 6px;
}
